# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (MongoDB Atlas or Local MongoDB)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/u1st_creation?retryWrites=true&w=majority
# MONGODB_URI=mongodb://localhost:27017/u1creation

# CORS Allowed Origin
CORS_ORIGIN=http://localhost:3000
